
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">@Resources.Menu.PhieuNhapHang</h3>
        <div class="nk-block-des text-soft">
            <p>Bạn có <span>0</span> phiếu nhập hàng.</p>
        </div>
    </div>
    <div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
            <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                    <li>
                        <a href="#" class="btn btn-white btn-dim btn-outline-primary" onclick="ExportXLS()"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}
<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative ">
                <div class="row justify-content-end">

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">@Resources.Main.NhaCungCap</label>
                            <div id="select-nhacungcap">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">@Resources.Main.TuNgay</label>
                            <div id="date-tungay">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">@Resources.Main.DenNgay</label>
                            <div id="date-denngay">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-2 text-right">
                        <label class="overline-title overline-title-alt form-label text-white">Filter</label>
                        <div class="form-group "><button type="button" class="btn btn-secondary" onclick="loadReport()">Filter</button></div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                <div style="padding-top:0;margin-top:0" id="iNoiDung">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="loadpanel"></div>
@section CustomScripts{
    <script type="text/javascript">
       var loadPanel = $(".loadpanel").dxLoadPanel({
           shadingColor: "rgba(0,0,0,0.4)",
           visible: false,
           showIndicator: true,
           showPane: true,
           shading: true,
           message: 'Loading..',
           closeOnOutsideClick: false,
       }).dxLoadPanel("instance");
       $(document).ready(function () {
           loadReport();
       });
       function loadReport() {
           loadPanel.show();

           var FileName = Globalize.format(new Date(), 'yyyy-MM-dd-HH-mm-ss');
           $.ajax({
               url: '@Url.Action("GetBaoCao", "Demo")',
               data: { FileName: FileName, },
               success: function (rs) {
                   $('#iNoiDung').empty();
                   if (rs.code == 1) {
                       var ifr = $('<iframe />', {
                           id: 'main-content',
                           scrolling: 'no',
                           frameborder: 0,
                           src: '@Url.Action("Index", "BaoCao")',
                           style: 'width:100%;padding-top:5px;background-color:#fff;transition:all 0.25s;-webkit-transition:all 0.25s;height:650px;',

                       }); 
                       $('#iNoiDung').append(ifr);
                       document.getElementById("main-content").onload = function () { loadPanel.hide(); };
                   } else {
                       loadPanel.hide();
                       DevExpress.ui.notify("Có lỗi không xuất báo cáo được!", "warning", 2000);
                   }
               }
           });
       }
       function ExportXLS() {
           var iframe = document.getElementById("main-content");
           iframe.contentWindow.Download();
       }
    </script>
}