
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="~/Content/upload/images/favicon.png">
    <meta name="robots" content="index, follow" />
    <title>Login -  @Resources.Main.TenWeb</title>
    @Styles.Render("~/Content/css/site")
</head>
<body class="nk-body bg-white npc-general pg-auth">
    @Html.AntiForgeryToken()
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-md">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5"><a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a></div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="center pb-4">
                                    <img class="img-center" src="~/Content/upload/images/favicon.png" alt="@Resources.Main.TenWeb" style="width:100px;height:100px">
                                </div>

                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Đăng Nhập</h5>
                                        @*<div class="nk-block-des">
                                            <p>Access the WMS panel using your username and password.</p>
                                        </div>*@
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div class="form-label-group"><label class="form-label" for="username">Tài Khoản</label></div>
                                        <input type="text" class="form-control form-control-lg" id="username" placeholder="Nhập tài khoản của bạn">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group"><label class="form-label" for="password">Mật Khẩu</label></div>
                                        <div class="form-control-wrap"><a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="password"><em class="passcode-icon icon-show icon ni ni-eye"></em><em class="passcode-icon icon-hide icon ni ni-eye-off"></em></a><input type="password" class="form-control form-control-lg" id="password" placeholder="Nhập mật khẩu của bạn"></div>
                                    </div>
                                    <fieldset id="iAlert" class="hide">
                                        <div class="alert alert-warning alert-dismissible mb-2" role="alert">
                                            <span class="error_message"></span>
                                        </div>
                                    </fieldset>
                                    <div class="form-group"><button class="btn btn-lg btn-primary btn-block" id="btnlogin" style="background:black">Đăng Nhập</button></div>
                                </div>

                            </div>
                            <div class="nk-block nk-auth-footer">

                                <div class="mt-3">
                                    <p>&copy; 2020 @Resources.Main.TenCongTy</p>
                                </div>
                            </div>
                        </div>
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-800px p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img"><img class="round" src="~/Content/upload/images/slide_lg2.jpg" alt="" ></div>
                                            <div class="nk-feature-content py-4 p-sm-12">
                                                <h4 style="color:black">BURDEN FURNITURE</h4>
                                                <h6 style="color:black">INVENTORY AND PRODUCTION MANAGEMENT</h6>
                                                @*<p>Nhanh chóng - Tối ưu - Dễ sử dụng.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img"><img class="round" src="~/Content/upload/images/slide_lg1.png" alt="" style="width:600px;height:400px"></div>
                                            <div class="nk-feature-content py-4 py-4 p-sm-12">
                                                <h4 style="color:black">BURDEN FUNITURE</h4>
                                                <h6 style="color:black">INVENTORY AND PRODUCTION MANAGEMENT</h6>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/js/login")
</body>
</html>
