
@{

    ViewBag.Title = "Danh Sách Theo Dõi Xuất Kệ Hàng Trắng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header{
    <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Danh Sách Theo Dõi Xuất Kệ Thành Phẩm</h3>
    </div>
    <div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
            <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                    @if (User.IsInRole("0") || User.IsInRole("17=6"))
                    {
                        <li>
                            <a href="#" class="btn btn-white btn-dim btn-outline-primary" id="XuatExcel" onclick="ExportXLS()"><em class="icon ni ni-download-cloud"></em><span>@Resources.Main.XuatFile</span></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

}


<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative ">
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Kệ hàng</label>
                            <div id="select-kehang">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Số EPI</label>
                            <div id="txt-soepi">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Mã SP</label>
                            <div id="txt-masp">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Mã SKU</label>
                            <div id="txt-masku">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">@Resources.Main.TuNgay</label>
                            <div id="date-tungay">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">@Resources.Main.DenNgay</label>
                            <div id="date-denngay">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label class="overline-title overline-title-alt form-label text-white">@Resources.Main.TimKiem</label>
                        <div class="form-group "><button type="button" class="btn btn-secondary" onclick="loadReport()">@Resources.Main.TimKiem</button></div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                <div style="padding-top:0;margin-top:0" id="iNoiDung">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="loadpanel"></div>



@section CustomScripts{

    <script type="text/javascript">
        var maKe = null;
        var masku = null;
        var masp = null;
        var soepi = null;
        var FileName = Globalize.format(new Date(), 'yyyy-MM-dd-HH-mm-ss');
        var date = new Date();
        var tungay = Globalize.format(new Date(date.getFullYear(), date.getMonth(), 1), "yyyy-MM-dd"),
            denngay = Globalize.format(new Date(date.getFullYear(), date.getMonth(), date.getDate()), "yyyy-MM-dd"), isLoadingAll = false, ncc = null;
        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: true,
            message: 'Loading..',
            closeOnOutsideClick: false,
        }).dxLoadPanel("instance");

        $(function () {
            try {
                loadPanel.show();
                $("#txt-masku").dxTextBox({
                    placeholder: "Nhập mã SKU"
                });
                $("#txt-masp").dxTextBox({
                    placeholder: "Nhập mã SP"
                });
                $("#txt-soepi").dxTextBox({
                    placeholder: "Nhập số EPI"
                });
                $('#danh-sach').height($(window).height() - 250);
                $("#date-tungay").dxDateBox({
                    value: new Date(date.getFullYear(), date.getMonth(), 1),
                    width: '100%',
                    displayFormat: 'dd/MM/yyyy',
                    onValueChanged: function (data) {
                        tungay = Globalize.format(data.value, "yyyy-MM-dd");
                    },
                }).dxDateBox("instance");
                $("#date-denngay").dxDateBox({
                    value: date,
                    width: '100%',
                    displayFormat: 'dd/MM/yyyy',
                    onValueChanged: function (data) {
                        denngay = Globalize.format(data.value, "yyyy-MM-dd");
                    },
                }).dxDateBox("instance");
                $.get('@Url.Action("GetKeHang", "Data")', function (rs) {
                // $("#select-nhacungcap").dxSelectBox("instance").option('value', 0);
                 listKe = rs;
                 $("#select-kehang").dxDropDownBox({

                     dataSource: new DevExpress.data.ArrayStore({ key: "IdKe", data: listKe }),
                     valueExpr: "IdKe",
                     deferRendering: false,
                     placeholder: "Chọn kệ hàng...",
                     displayExpr: function (item) {
                         //return " [" + item.MaKe + "] " + item.TenKe;
                         return item.TenKe;
                     },
                     showClearButton: true,
                     onOpened: function (e) {
                         var drw = 550;
                         var popupInstance = e.element.find(".dx-popup").dxPopup("instance"); popupInstance.option('width', drw); popupInstance.off("optionChanged", optionChangedHandler); popupInstance.on("optionChanged", optionChangedHandler); function optionChangedHandler(args) { if (args.name == "width" && args.value < drw) { args.component.option("width", drw); } } e.component.getDataSource().reload();
                     },
                     contentTemplate: function (e) {
                         var value = e.component.option("value"),
                             $dataGrid = $('<div class="wms-grid">').dxDataGrid({
                                 id:"Comboboxtest",
                                 dataSource: e.component.getDataSource(),
                                 filterRow: {
                                     visible: true,
                                     applyFilter: "auto"
                                 },
                                 selection: { mode: "multiple" },

                                 columns: [{ dataField: 'MaKe', caption: 'Kệ' }],
                                 hoverStateEnabled: true, pager: { showPageSizeSelector: true, showInfo: true }, rowAlternationEnabled: true, showBorders: true, allowColumnReordering: true, allowColumnResizing: true, columnAutoWidth: true, selectedRowKeys: [value], height: "100%",
                                 onSelectionChanged: function (selectedItems) {
                                     var keys = selectedItems.selectedRowKeys;
                                     e.component.option("value", keys);
                                 }
                             });

                         dataGrid = $dataGrid.dxDataGrid("instance");
                         e.component.on("valueChanged", function (args) {
                             dataGrid.selectRows(args.value, false);
                         });
                         return $dataGrid;
                     }
                 });
                 $.ajax({
                       url: '@Url.Action("getBaoCaoTheoDoiXuatKeThanhPham", "BaoCao")',
                     data: { FileName: FileName, TuNgay: tungay, DenNgay: denngay, MaKe: maKe, MaSKU: masku,MaSP:masp,SoEPI:soepi },
                       success: function (rs) {
                           $('#iNoiDung').empty();
                           if (rs.code == 1) {
                               var ifr = $('<iframe />', {
                                   id: 'main-content',
                                   scrolling: 'no',
                                   frameborder: 0,
                                   src: '@Url.Action("Index", "BaoCao")',
                                   style: 'width:100%;padding-top:5px;background-color:#fff;transition:all 0.25s;-webkit-transition:all 0.25s;height:650px;',

                               });
                               $('#iNoiDung').append(ifr);
                               document.getElementById("main-content").onload = function () { loadPanel.hide(); };
                           } else {
                               loadPanel.hide();
                               DevExpress.ui.notify("Có lỗi không xuất báo cáo được!", "warning", 2000);
                           }
                       }
                   });

                });
                loadPanel.hide();
            }
            catch (e) {
                loadPanel.hide();
                alert(e);
            }
        });

        function loadReport() {
           loadPanel.show();

           FileName = Globalize.format(new Date(), 'yyyy-MM-dd-HH-mm-ss');
           tungay = Globalize.format($("#date-tungay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
           denngay = Globalize.format($("#date-denngay").dxDateBox("instance").option('value'), 'yyyy-MM-dd');
           maKe = $("#select-kehang").dxDropDownBox("instance").option('value');
            var temp = "";
            if (maKe.length > 0) {
                for (var i = 0; i < maKe.length; i++) {
                    temp = temp + maKe[i] + ",";
                }
            }
            if (temp.length > 0) {
                temp = temp.substring(0, temp.length - 1);
            }
            masku = $("#txt-masku").dxTextBox("instance").option('value');
            masp = $("#txt-masp").dxTextBox("instance").option('value');
            soepi = $("#txt-soepi").dxTextBox("instance").option('value');
           $.ajax({
               url: '@Url.Action("getBaoCaoTheoDoiXuatKeThanhPham", "BaoCao")',
               data: { FileName: FileName, TuNgay: tungay, DenNgay: denngay, MaKe: temp, MaSKU: masku,MaSP:masp,SoEPI:soepi },
               success: function (rs) {
                   $('#iNoiDung').empty();
                   if (rs.code == 1) {
                       var ifr = $('<iframe />', {
                           id: 'main-content',
                           scrolling: 'no',
                           frameborder: 0,
                           src: '@Url.Action("Index", "BaoCao")',
                           style: 'width:100%;padding-top:5px;background-color:#fff;transition:all 0.25s;-webkit-transition:all 0.25s;height:650px;',

                       });
                       $('#iNoiDung').append(ifr);
                       document.getElementById("main-content").onload = function () { loadPanel.hide(); };
                   } else {
                       loadPanel.hide();
                       DevExpress.ui.notify("Có lỗi không xuất báo cáo được!", "warning", 2000);
                   }
               }
           });
       }
       function ExportXLS() {
           var iframe = document.getElementById("main-content");
           iframe.contentWindow.Download();
       }
    </script>
}